*{
    box-sizing:border-box;
    margin:0;
}
.nav{
    background-color:rgb(251, 249, 249);
    color:black;
    display:flex;
    justify-content: space-between;
    align-items:stretch;
    gap:2rem;
    padding: 0 2rem;
}
.nav ul{
    padding:0;
    margin:0;
    list-style:none;
    display:flex;
   font-size:1.2rem;
    gap:1rem;
    
}
.site-title {
    font-size:2rem; 
    font-weight: bold;
}
.nav a{
    color:black;
    text-decoration:none;
    display:flex;
    height:100%;
    align-items:center;
    padding:0.25rem;
    
}
.nav li.active{
    background-color:rgb(176, 167, 167);
}
.nav li:hover{
    transform:scale(1.1);
}
.comp{
    text-align:center;
    padding-top: 2rem;
}
